body{
   
    background: url(mann.jpg);
    background-size: cover;
    font-size: 25px;
    font-family:fantasy;
    flex-wrap: wrap;
}
fieldset{
    padding-left: 970px;
    border-color: transparent;
    
}
h1{
    padding-left: 980px;
}