body{
    text-align: center;
   font-size: 20px;

}
.links{
    border-width: 2px;
    border-style: solid;
}

.container{
    border-width: 2px;
    border-style: solid;
}
a{
    text-decoration: none;
}

/* a:link{
    color: green;
}
a:visited{
    color: brown ;
}
a:hover{
    color: black;
}
a:active{
    color:blue;
} */





/* .container p:first-child{
    color: red
} */

/* .container p:last-child{
    color: red
} */

/* .container p:first-of-type{
    color: red
} */

/* .container p:last-of-type{
    color: red
} */

/* .container p:nth-child(3){
    color: red
} */

/* .container p:nth-last-child(2){
    color: red
}
 */

